#navBar{
  background-color: whitesmoke;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px;
}

li{
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
  align-self: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
